In [ ]:
import time
import pytz
import pandas as pd
import numpy as np
import MetaTrader5 as mt5
from datetime import datetime as dt
import jinja2
import tradingview_ta
from tradingview_ta import TA_Handler, Interval, Exchange
from sklearn.model_selection import train_test_split
from pypfopt.efficient_frontier import EfficientFrontier
from pypfopt import risk_models
from pypfopt import expected_returns

:

In [194]:
# initializing connection to MT5 
mt5.initialize()

True

In [195]:
# table to hold dataframe
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1500)

# converting timezone to UTC
timezone = pytz.timezone('Etc/UTC')
# creating date time for today's date
start = pd.Timestamp.now()


# retrieving symbols from MT5
symbols = mt5.symbols_get()
count = 0
name = []
for s in symbols:
    count += 1
    name.append(s.name)
print(name)

# getting rate information from symbol name, MT5 Daily Time-frame, using start method, and bar count going back 30 days
# MT5 Daily Time-frame is calculated in each bar so each bar reps one day
copied = mt5.copy_rates_from(name, mt5.TIMEFRAME_D1, start, 30)

# converting rates into a df
data = pd.DataFrame(closed)

# displaying the data 
print('\nDisplay dataframe with data')
# converting time in seconds into the datetime format
data['time'] = pd.to_datetime(data['time'], unit ='s')

print(data)

['AUDCAD', 'AUDCHF', 'AUDJPY', 'AUDNZD', 'AUDUSD', 'CADCHF', 'CADJPY', 'CHFJPY', 'EURAUD', 'EURCAD', 'EURCHF', 'EURCZK', 'EURDKK', 'EURGBP', 'EURHKD', 'EURHUF', 'EURJPY', 'EURMXN', 'EURNOK', 'EURNZD', 'EURPLN', 'EURRUB', 'EURSEK', 'EURSGD', 'EURTRY', 'EURUSD', 'EURZAR', 'GBPAUD', 'GBPCAD', 'GBPCHF', 'GBPCZK', 'GBPDKK', 'GBPHKD', 'GBPHUF', 'GBPJPY', 'GBPMXN', 'GBPNOK', 'GBPNZD', 'GBPPLN', 'GBPSEK', 'GBPSGD', 'GBPTRY', 'GBPUSD', 'GBPZAR', 'NOKSEK', 'NZDCAD', 'NZDCHF', 'NZDJPY', 'NZDSGD', 'NZDUSD', 'USDCAD', 'USDCHF', 'USDCNH', 'USDCZK', 'USDDKK', 'USDHKD', 'USDHUF', 'USDJPY', 'USDMXN', 'USDNOK', 'USDPLN', 'USDRUB', 'USDSEK', 'USDSGD', 'USDTRY', 'USDZAR', '100GBP', '200AUD', '225JPY', 'D30EUR', 'E35EUR', 'E50EUR', 'F40EUR', 'H33HKD', 'NASUSD', 'SPXUSD', 'U30USD', 'BCCUSD', 'BTCUSD', 'ETHUSD', 'LTCUSD', 'XRPUSD', 'UKOUSD', 'USOUSD', 'XNGUSD', 'XAGUSD', 'XAUUSD', 'DOGEUSD']

TypeError: 'NoneType' object is not iterable

In [141]:
# deleting unrelated columns
data.drop(['tick_volume','spread','real_volume'], axis = 1, inplace = True)

KeyError: "['tick_volume', 'spread', 'real_volume'] not found in axis"

In [81]:

# making date as the index column
data['date'] = data.time 
data.index = data.date 
data.drop(['time','date'], axis = 1, inplace = True)
data

               open     high      low    close  tick_volume  spread  real_volume
date
2022-11-16  0.67566  0.67926  0.67197  0.67368       132294       0            0
2022-11-17  0.67385  0.67512  0.66341  0.66855       114624       0            0
2022-11-18  0.66843  0.67304  0.66611  0.66699        94095       0            0
2022-11-21  0.66663  0.66830  0.65846  0.66026        91057       0            0
2022-11-22  0.66015  0.66516  0.65976  0.66464        81193       0            0
2022-11-23  0.66446  0.67386  0.66341  0.67300        91894       0            0
2022-11-24  0.67302  0.67783  0.67253  0.67590        63827       0            0
2022-11-25  0.67630  0.67809  0.67203  0.67317        78583       0            0
2022-11-28  0.67192  0.67291  0.66419  0.66425        98316       0            0
2022-11-29  0.66473  0.67488  0.66402  0.66806       108926       1            0
2022-11-30  0.66858  0.68008  0.66703  0.67849       117512       0            0
2022-12-01  0.67825  0.68424  0.67806  0.68086       128327       0            0
2022-12-02  0.68091  0.68361  0.67428  0.67913       115792       0            0
2022-12-05  0.67915  0.68509  0.66870  0.66925       104172       0            0
2022-12-06  0.66977  0.67444  0.66809  0.66852       100311       1            0
2022-12-07  0.66840  0.67422  0.66687  0.67219       106131       0            0
2022-12-08  0.67232  0.67809  0.66984  0.67632        95968       0            0
2022-12-09  0.67676  0.68137  0.67429  0.67900        93612       0            0
2022-12-12  0.67862  0.68028  0.67288  0.67440        89211       0            0
2022-12-13  0.67453  0.68931  0.67399  0.68492       125318       0            0
2022-12-14  0.68510  0.68817  0.68100  0.68609       123836       0            0
2022-12-15  0.68616  0.68696  0.66767  0.66954       118577       0            0
2022-12-16  0.67013  0.67359  0.66754  0.66802       107388       0            0
2022-12-19  0.66999  0.67324  0.66828  0.66965        89755       0            0
2022-12-20  0.66988  0.67437  0.66291  0.66754       130991       0            0
2022-12-21  0.66728  0.67280  0.66564  0.67045        93487       0            0
2022-12-22  0.67051  0.67672  0.66501  0.66687        81398       0            0
2022-12-23  0.66683  0.67249  0.66581  0.67139        82218       0            0
2022-12-26  0.66926  0.67291  0.66746  0.67188         6455      10            0
2022-12-27  0.67210  0.67759  0.67204  0.67437        64094       0            0

In [82]:
# calculate the Simple Returns
# daily simple returns (dsr)
dsr = data['close'].pct_change(1)
dsr

date
2022-11-16         NaN
2022-11-17   -0.007615
2022-11-18   -0.002333
2022-11-21   -0.010090
2022-11-22    0.006634
2022-11-23    0.012578
2022-11-24    0.004309
2022-11-25   -0.004039
2022-11-28   -0.013251
2022-11-29    0.005736
2022-11-30    0.015612
2022-12-01    0.003493
2022-12-02   -0.002541
2022-12-05   -0.014548
2022-12-06   -0.001091
2022-12-07    0.005490
2022-12-08    0.006144
2022-12-09    0.003963
2022-12-12   -0.006775
2022-12-13    0.015599
2022-12-14    0.001708
2022-12-15   -0.024122
2022-12-16   -0.002270
2022-12-19    0.002440
2022-12-20   -0.003151
2022-12-21    0.004359
2022-12-22   -0.005340
2022-12-23    0.006778
2022-12-26    0.000730
2022-12-27    0.003706
Name: close, dtype: float64

In [83]:
# mean of dsr
dsrm = dsr.mean()
dsrm

7.288038414641896e-05

In [84]:
dsrm * 252

0.01836585680489758

In [ ]:
# Sorting vals for the daily mean simple returns and show the annualized returns as a percentage
dsrm.sort_values(axis = 0, ascending = False, inplace = True, kind = 'quicksort', na_position = 'last', ignore_index = 'False', key = None)
dsrm * 252 * 100